---
import BaseLayout from "../layouts/BaseLayout.astro";
import Divider from "../components/Divider.astro";
---

<BaseLayout showHeader={false}>
  <main class="prose !max-w-none dark:prose-invert">
    <h1 class="mb-3">SUMMARY</h1>
    <p>
      I am a Mechanical Engineering graduate from Gadjah Mada University with
      experience and expertise in machining, jig and fixture design, measuring
      tools, materials engineering, robotics, and industrial equipment
      maintenance and inspection. Additionally, I possess competencies in
      desktop and web application programming, which support my ability to
      develop efficient and innovative technical solutions. With this
      background, I am ready to contribute professionally to engineering
      projects that require precision, creativity, and a technology-driven
      approach.
    </p>
    <Divider />
    <h1 class="mb-3">WORK EXPERIENCE</h1>
    <section class="mb-6 space-y-1">
      <h2 class="mb-0 mt-0">Kepala Seksi Madya Tool Making Machining</h2>
      <p class="font-normal leading-6">
        CV. Karya Hidup Sentosa (Quick Tractor)
        <br />January 2025 - July 2025
      </p>
    </section>
    <ul class="text-base/6">
      <li>
        Designed, reconditioned, and modified Jigs and Fixtures (Welding
        Fixtures, Milling Fixtures, Inspection Jigs) for mass production of
        Quick brand products (Tractors, Harvesters, Trucks).
      </li>
      <li>
        Coordinated machining, assembly, and trial processes to ensure product
        quality and compliance with established standards.
      </li>
      <li>
        Implemented continuous improvement initiatives to enhance the
        effectiveness and efficiency of jigs and fixtures.
      </li>
    </ul>

    <section class="mb-6 space-y-1">
      <h2 class="mb-0 mt-0">Internship Maintenance Engineer</h2>
      <p class="font-normal leading-6">
        PT. Indocement Tunggal Prakarsa Tbk.
        <br />Augustus 2022 - September 2022
      </p>
    </section>
    <ul class="text-base/6">
      <li>
        Conducted inspections and maintenance of PPC cement production
        facilities, covering storage units to packaging lines.
      </li>
      <li>
        Implemented efficient operational maintenance programs to optimize
        equipment longevity and performance.
      </li>
      <li>
        Prepared reports and provided solutions for issues related to
        manufacturing processes within the production line.
      </li>
    </ul>

    <section class="mb-6 leading-6">
      <h2 class="mb-0 mt-0">
        Teaching Assistant, Material Engineering I and II
      </h2>
      <p class="font-normal leading-6">
        Departemen Teknik Mesin UGM
        <br />February 2018 - January 2019
      </p>
    </section>

    <ul class="text-base/6">
      <li>
        Facilitated and supported the delivery of course content for Materials
        Engineering I and II, assisting faculty in teaching and mentoring
        undergraduate students over two semesters.
      </li>
      <li>
        Conducted comprehensive review sessions for course material, providing
        targeted guidance to students in preparation for examinations.
      </li>
      <li>
        Evaluated and graded student assignments, and projects, ensuring fair
        and consistent assessment aligned with academic standards.
      </li>
      <li>
        Provided constructive feedback to students, fostering academic growth
        and encouraging critical thinking in the application of materials
        engineering principles.
      </li>
    </ul>

    <section class="mb-6">
      <h2 class="mb-0 mt-0">Mechanic Designer</h2>
      <p class="font-normal leading-6">
        Gadjah Mada Robotic Team UGM
        <br />January 2021 - December 2022
      </p>
    </section>

    <ul class="text-base/6">
      <li>
        Designed, fabricated, and assembled all robotic components, ensuring
        precision and functionality for competitive requirements.
      </li>
      <li>
        Collaborated with team to successfully deliver projects on time, meeting
        competition standards.
      </li>
      <li>
        Implemented centralized storage and version control for 3D models and
        documentation, enhancing design efficiency and team coordination.
      </li>
    </ul>

    <Divider />

    <h1 class="mb-3">EDUCATION</h1>
    <ul>
      <li>
        <strong>Gadjah Mada University - S1 Teknik Mesin</strong>
        <br />
        Augustus 2017 - July 2023
      </li>
      <li>
        <strong>SMA Negeri 3 Bogor - IPA</strong><br /> July 2014 - May 2017
      </li>
    </ul>

    <Divider />

    <h1 class="mb-3">TECHNICAL SKILL</h1>
    <ul>
      <strong>Machining Process:</strong>
      <ul>
        <li>CNC Milling Machine</li>
        <li>CNC Lathe Machine</li>
        <li>External Grinding Machine</li>
        <li>Surface Grinding Machine</li>
        <li>Conventional Lathe Machine</li>
        <li>Bandsaw Machine</li>
      </ul>
      <strong>Computer Aided Design and Manufacturing:</strong>
      <ul>
        <li>Autodesk Inventor</li>
        <li>AutoCAD</li>
        <li>MasterCAM</li>
        <li>SolidWorks</li>
        <li>Solid Edge</li>
        <li>FreeCAD</li>
      </ul>
      <strong>Measuring Instruments:</strong>
      <ul>
        <li>Digital and Vernier Caliper</li>
        <li>Height, Block, and Dial Gauge</li>
        <li>Outside and Inside Micrometer</li>
        <li>Rockwell Hardness Tester</li>
      </ul>
      <strong>Office Suite:</strong>
      <ul>
        <li>Microsoft Office (Word, Excel, PowerPoint)</li>
        <li>LibreOffice (Writer, Calc, Impress)</li>
      </ul>
      <strong>Programming:</strong>
      <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>Django</li>
        <li>FastAPI</li>
        <li>Cloud Computing</li>
        <li>Linux</li>
        <li>Bash</li>
        <li>Cloudflare, AWS</li>
        <li>Pandas</li>
        <li>SQL</li>
        <li>Command Line</li>
        <li>DevOps</li>
      </ul>
    </ul>

    <Divider />

    <h1 class="mb-3">CERTIFICATES</h1>
    <ul>
      <li>
        <strong>
          SNI ISO 9001:2015 Quality Management System Training
          <br />(Badan Standardisasi Nasional 2024)
        </strong>
        <br />
        Completed training in Quality Management Systems, focusing on strategies
        to enhance product/service quality, ensure customer satisfaction, and maintain
        regulatory compliance.
      </li>
      <li>
        <strong>
          SNI ISO 31000:2011 Risk Management Training
          <br />(Badan Standardisasi Nasional 2024)
        </strong>
        <br />
        Trained in systematic risk identification, assessment, and management techniques
        to support informed decision-making and organizational resilience.
      </li>
      <li>
        <strong>
          SNI ISO 45001:2018 Occupational Health and Safety Management System
          Training
          <br />(Badan Standardisasi Nasional 2024)
        </strong>
        <br />
        Obtained certification in implementing occupational health and safety systems
        to mitigate workplace risks, prevent accidents, and ensure regulatory adherence.
      </li>
      <li>
        <strong
          >Google Project Management
          <br />(Coursera - Google x Prakerja 2024)</strong
        >
        <br />
        Completed comprehensive training in project management, mastering initiation,
        planning, execution, and evaluation methodologies.
      </li>
      <li>
        <strong>
          Azure AI Engineer Associate
          <br />(Microsoft x Kominfo Fresh Graduate Academy 2024)
        </strong>
        <br />
        Certified in leveraging Microsoft Azure AI tools to design, develop, and
        deploy advanced AI solutions.
      </li>
      <li>
        <strong>
          Bootcamp: Become an Elite Cloud Engineer
          <br />(Elite Academy x Kominfo Fresh Graduate Academy 2024)
        </strong>
        <br />
        Trained in cloud computing technologies, including AWS architecture, DevOps
        practices, and Site Reliability Engineering principles.
      </li>
      <li>
        <strong
          >Big Data Platforms, Autumn
          <br />(University of Helsinki 2024)</strong
        >
        <br />
        Gained expertise in scalable Big Data processing frameworks and platforms
        for efficient data management and analytics.
      </li>
      <li>
        <strong
          >Introduction to Programming
          <br />(University of Helsinki 2023)</strong
        >
        <br />
        Acquired foundational programming skills, focusing on problem-solving and
        core programming techniques.
      </li>
      <li>
        <strong
          >Advanced Course in Programming
          <br />(University of Helsinki 2024)</strong
        >
        <br />
        Developed proficiency in advanced programming concepts, emphasizing algorithm
        design and application development.
      </li>
    </ul>

    <Divider />

    <h1>ADDITIONAL INFORMATION</h1>
    <p><strong>Languages:</strong> Indonesian (Active) and English (Active)</p>

    <p>
      <strong>Award:</strong> Team Leader for 1st Place in the Skilvul Innovation
      Challenge AI Competition Cycle 2 National Level (Project: Senyummu. (
      <a href="https://senyummu.streamlit.app/">Senyummu</a>)).
    </p>

    <Divider />

    <h1>PROJECT</h1>
    <h2 class="mb-0 mt-3">Tool Room Design and Implementation</h2>
    <p>
      <em>CV. Karya Hidup Sentosa</em>
      <br />
      Designed and implemented a centralized Tool Room to streamline the inventory
      management of cutting tools, tool holders, work equipment, and supporting devices,
      enhancing asset tracking and accelerating production processes in the Tool
      Making B Section.
    </p>

    <h2 class="mb-0 mt-3">Daily Work Plan System (RKH)</h2>
    <p>
      <em>CV. Karya Hidup Sentosa</em>
      <br />
      Developed a structured Daily Work Plan (RKH/ Rencana Kerja Harian) system to
      manage operator activities, incorporating task listing, operational time tracking,
      and weekly data reporting to improve efficiency, accountability, and performance
      monitoring.
    </p>

    <h2 class="mb-0 mt-3">CNC Blanking Material Desktop Application</h2>
    <p>
      <em>
        CV. Karya Hidup Sentosa, <a
          href="https://github.com/gunungpw/cnc-blanking"
          >GitHub: CNC Blanking</a
        >
        <br />
      </em>
      Engineered a Python and Tkinter-based desktop application to automate CNC program
      generation (tool path) for CNC milling, enabling precise blanking of raw materials
      to meet technical drawing specifications and production requirements.
    </p>

    <h2 class="mb-0 mt-3">Senyummu Web Application</h2>
    <p>
      <em
        >Skilvul Innovation Challenge Cycle 2, <a
          href="https://github.com/gunungpw/oral-diseases"
        >
          GitHub: Senyummu</a
        ></em
      >
      <br />
      Created a web application utilizing image recognition to analyze dental photographs
      for the detection of dental diseases and damage, enhancing diagnostic accuracy
      and accessibility.
    </p>

    <h2 class="mb-0 mt-3">Scrap and Repair Rate Reduction Initiative</h2>
    <p>
      <em>CV. Karya Hidup Sentosa</em>
      <br />
      Led a project to reduce scrap and repair rates in the Tool Making B Section
      by developing standardized forms, SOPs for reporting, and root cause analysis
      protocols, achieving documented targets, minimizing defects, and reducing material,
      cutting tool, and energy costs.
    </p>
  </main>
</BaseLayout>
